.bg-semi-transparent {
    background-color: rgb(255, 255, 255); /* Black background with 10% opacity */
    padding: 20px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
}

.table-responsive {
    margin-top: 20px;
}
.table th, .table td {
    text-align: center;
}
.badge {
    font-size: 1rem;
}
@media (max-width: 768px) {
    .table th, .table td {
        font-size: 0.875rem;
    }
    .btn-sm {
        font-size: 0.8rem;
        padding: 0.4rem 0.6rem;
    }
}